if SHIELD_CORNE_DONGLE

# Max 16 characters in keyboard name
config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Dongle Connection Settings
config ZMK_USB
    default y


config ZMK_BLE
    default y
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2
config BT_MAX_CONN
    default 3
config BT_MAX_PAIRED
    default 3


# Display Settings
config ZMK_DISPLAY
    default y

endif


if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_KSCAN_DEBOUNCE_PRESS_MS
    default 5
config ZMK_KSCAN_DEBOUNCE_RELEASE_MS
    default 5

endif


if SHIELD_NICEVIEW_GEM

config NICE_VIEW_GEM_WPM_FIXED_RANGE
    default y
config NICE_VIEW_GEM_WPM_FIXED_RANGE_MAX
    default 120
config NICE_VIEW_GEM_ANIMATION
    default n
# config NICE_VIEW_GEM_ANIMATION_FRAME
#     default 1
# config NICE_VIEW_GEM_ANIMATION_MS
#     default 960

endif
